

# === Compiled class files ===
*.class

# === Output folders (Eclipse) ===
/bin/
/build/
/target/


*.classpath
*.project
.settings/
.metadata/
wtpwebapps/


# Prevent Google OAuth credentials from being pushed
/src/main/webapp/WEB-INF/config.properties


# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini


*.log
hs_err_pid*


*.bak
*.tmp
*.swp
*~
